@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 *  Variables & Constants
 */


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);

/**
 *  Mixin
 */
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

*,*:before,*:after{
  box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

